.sidebar {
  flex: 1;
  // border-right: 0.5px solid rgb(230, 227, 227);
  min-height: 100vh;
  background: #fff;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.06);

  .top {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 29px 56px;

    .logo {
      font-size: 20px;
      font-weight: bold;
      color: #039bf0;
    }
  }
  .divide {
    border-top: 2px solid #f5f6f8;
  }
  hr {
    height: 0;
    border: 0.5px solid rgb(230, 227, 227);
  }

  .logout {
    margin-top: 350px;
    margin-left: 64px;
  }

  .center {
    padding-left: 10px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      .title {
        font-size: 10px;
        font-weight: bold;
        color: #999;
        margin-top: 15px;
        margin-bottom: 5px;
      }

      li {
        display: flex;
        align-items: center;
        padding: 5px;
        cursor: pointer;
        border-radius: 8px;
        margin-top: 31px;
        margin-bottom: 16px;
        margin-left: 24px;
        margin-right: 24px;
        // margin: 31px 24px 24px 16px;
        padding-left: 20px;
        padding-right: 93px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 14px;

        &:hover {
          border-radius: 8px;
          background: #f2faff;
          border-left: 4px #039bf0 solid;
        }

        .icon {
          font-size: 18px;
          color: #039bf0;
        }

        span {
          font-size: 13px;
          font-weight: 600;
          color: #888;
          margin-left: 10px;
        }
      }
    }
  }
}
